* {
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  border: 10px solid black;
}
section {
  width: 50%;
  margin: 0 auto;
} 
h1 {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 40pt;
  padding: 5px;
}


div#message {
  text-align: center;
font-size: 30pt;
font-family: 'Bungee', cursive;
}

div#game-info {
  text-align: center;
  font-size: 30px;
}

table {
  width: 800px;
  margin: 0 auto;
  border-radius: 22px;
  margin: 0 auto;
  margin-bottom: 150px;
  margin-top: 60px;
  background: yellow;
  box-shadow: 0 0 20px 6px lightyellow;
}

td:hover {
  background-color: #f5f5f5;
}

table tr td.inner-circle {
  height: 115px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
}

/* Popup container - can be anything you want */
div.popup {
  position: absolute;
  display: inline;
  top: 60px;
  left: 15px;
  cursor: pointer;
  font-size: 26pt;
  opacity: 0.8;
  border: 5px double #ed6943;
  border-radius: 8px;
  text-shadow: 0 0 .1px black;
}

/* The actual popup */
.popuptext {
  visibility: hidden;
  width: 360px;
  color: #000;
  padding: 15px;
  position: absolute;
}

/* Toggle this class - hide and show the popup */
.popup .showInstructions {
  visibility: visible;
  font-size: 30px;
  top: 55px;
  border-radius: 45px;
  font-family: 'Orbitron', sans-serif;
}
