body {
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
}

.column {
  width: 70px;
  float: left;
  cursor: pointer;
}

.col {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: solid black;
  clear: both;
  background-color: beige;
}

.playerColor_Red {
  background: red;
  border: solid black;
  margin: 0px;
  color: red;
}

.playerColor_Black {
  background: black;
  border: solid black;
  margin: 0px;
  color: black;
}

.button {
  clear: both;
  text-align: left;
  padding: 20px 0px 0px 0px;
}

html {
  background: #1fc8db 51%;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 40pt;
  padding: 5px;
}

div.popup {
  position: absolute;
  display: inline;
  top: 60px;
  left: 15px;
  cursor: pointer;
  font-size: 22pt;
  opacity: 0.8;
  border: 5px double #000080;
  border-radius: 8px;
  text-shadow: 0 0 .1px black;
}

.popuptext {
  visibility: hidden;
  color: #000;
  padding: 15px;
  position: absolute;
}

.popup .showInstructions {
  visibility: visible;
  font-size: 26px;
  left: -15px;
  font-family: 'Orbitron', sans-serif;
}

#boardColor, #backgroundColor, #buttonColor {
  width: 10%;
  margin-top: 25px;
  height: 25px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

div.button {
  text-align: center;
  margin: auto;
}

button.reset {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 40px;
  border-radius: 15px;
}


/*
@keyframes chip-animation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(701px);
  }
*/
/*
* {
	box-sizing: border-box;
	font-family: 'Orbitron';
	top: 90px;
	left: -265px;
	animation-duration: 2.5s;
}
body {
	background-color: darkgrey;
	transition: all 6s ease;
}

@keyframes fadeOut {
	0% {opacity: 1.0;}
	100% {opacity: 0;}
}

.intro {
	position: absolute;
	transition: all 0.7s ease;
	left: -265px;
	top: 90px;
	animation-duration: 2.3s;
	animation-fill-mode: forwards;
	color: black;
}
*/
/*
#boardColor, #backgroundColor, #buttonColor {
  width: 200px;
  height: 25px;
  background-color: black;
  color: white;
  border-radius: 5px;
}
*/
