/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline;
    cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 360px;
    background-color: lightgrey;
    color: #000;
    text-align: justify;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    bottom: -1200%;
    left: 70%;
    margin-left: -175px;
}
/* Toggle this class - hide and show the popup */
.popup .showInstructions {
    visibility: visible;
}

div {
  position: absolute;
  font-size: 1.5em;
}
