/*
* {
  box-sizing: border-box;
}


html {
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  border: 10px solid black;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 40pt;
  padding: 5px;
}

div#message {
  text-align: center;
  font-size: 30pt;
  font-family: 'Bungee', cursive;
  padding-bottom: 20px;
}

div#game-info {
  text-align: center;
  font-size: 30px;
}
table {
  width: 53%;
  margin: auto;
  border-radius: 22px;
  background: blue;
  box-shadow: 0 0 20px 6px lightyellow;
  transform: rotate(90deg);
}

div.popup {
  position: absolute;
  display: inline;
  top: 60px;
  left: 15px;
  cursor: pointer;
  font-size: 26pt;
  opacity: 0.8;
  border: 5px double #000080;
  border-radius: 8px;
  text-shadow: 0 0 .1px black;
}

.popuptext {
  visibility: hidden;
  width: 360px;
  color: #000;
  padding: 15px;
  position: absolute;
}

.popup .showInstructions {
  visibility: visible;
  font-size: 26px;
  top: 35px;
  border-radius: 45px;
  font-family: 'Orbitron', sans-serif;
  padding-right: 80px;
}
*/

* {
  box-sizing: border-box;
}

#red-disk {
  background-color: red;
}

#yellow-disk {
  background-color: yellow;
}

html {
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  border: 10px solid black;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 40pt;
  padding: 5px;
}

div#message {
  text-align: center;
  font-size: 30pt;
  font-family: 'Bungee', cursive;
  padding-bottom: 20px;
}

div#game-info {
  text-align: center;
  font-size: 30px;
}
table {
  position: relative;
  width: 840px;
  border-radius: 22px;
  background: blue;
  box-shadow: 0 0 20px 6px lightyellow;

}

div.popup {
  position: absolute;
  display: inline;
  top: 60px;
  left: 15px;
  cursor: pointer;
  font-size: 26pt;
  opacity: 0.8;
  border: 5px double #000080;
  border-radius: 8px;
  text-shadow: 0 0 .1px black;
}

.popuptext {
  visibility: hidden;
  width: 360px;
  color: #000;
  padding: 15px;
  position: absolute;
}

.popup .showInstructions {
  visibility: visible;
  font-size: 26px;
  top: 35px;
  border-radius: 45px;
  font-family: 'Orbitron', sans-serif;
  padding-right: 80px;
}

#boardColor, #backgroundColor, #buttonColor {
  width: 200px;
  height: 25px;
  background-color: black;
  color: white;
  border-radius: 5px;
}




/* ALL THE FEATURES THAT WE WERENT ABLE IMPLEMENT :( */

/*
.dot {
  height: 120px;
  width: 115px;
  border-radius: 50%;
  background: blue;
  position: absolute;
}
*/

/* All the styleing for the button in table head
button.resizeBtn {
  border-radius: 50%;
  outline: none;
  padding: 15px 25px;
  font-size: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #000080;

  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #AFEEEE
}

button:active {
  background-color: #AFEEEE;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

*/
/*
table tr td.inner-circle {
  height: 115px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
}
*/
/* this where thcolors of the players will be
td {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
*/

/*
@keyframes chip-animation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(701px);
  }
*/
/*
* {
	box-sizing: border-box;
	font-family: 'Orbitron';
	top: 90px;
	left: -265px;
	animation-duration: 2.5s;
}
body {
	background-color: darkgrey;
	transition: all 6s ease;
}

@keyframes fadeOut {
	0% {opacity: 1.0;}
	100% {opacity: 0;}
}

.intro {
	position: absolute;
	transition: all 0.7s ease;
	left: -265px;
	top: 90px;
	animation-duration: 2.3s;
	animation-fill-mode: forwards;
	color: black;
}
*/

#boardColor, #backgroundColor, #buttonColor {
  width: 200px;
  height: 25px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

