h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

div#game-info {
  text-align: center;
  font-size: 30px;
}

table {
  width: 100%;
  background-color:
}
td:hover {
  background-color: #f5f5f5;
}
td {
  height: 115px;
  border: 1px solid black;
}
